<html>
<head>
    <title>sabash</title>
   
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="/js/jquerycookies.js"></script>
    <script src="/js/jqueryjson.js"></script>
     <script src="/js/jquerydatatables.js"></script>
    <script src="/js/src/jquery.jsonrpcclient.js"></script>
    <script src="/js/src/jquery.FSRTC.js"></script>
    <script src="/js/src/jquery.verto.js"></script>
    <script src="/js/phonesdk.js"></script>
   
    <script>
    
    </script>
    </head>
   <body ng-app='w5fone-App' ng-controller='test-Ctrl'>
       <h1>Call Page</h1>
       
       <button type="submit" ng-click="call()">call</button>
       
    </body>
</html>